

.hero-image{
	background-image :linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url(../images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	}  
.background{
	background:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/background.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	}  
.panel-body .articleDiv a{
	font: italic 800 25px/1 'Open Sans';
	color: #000080;	
}
.panel-body .articleDiv a:hover{
	color:#0068cc;
}
.hero-text  h5{
	color:#cc0505 ;	
}
.hero-text h6{
	color: #006600;
	font-size: 14px;
}
.panel-body .articleDiv h4{
	color:#cc0505 ;	
}
.hero-text p{
	font-size: 20px;
}
.hero-text p:hover{
	color:#000080;
	font-size: 30px;
	}

#buttons-container .btn{
	margin-left: 20px;

}



#buttons-container .btn-mic{
	background-color: #FFF ;
	color: #000 !important;
}

#buttons-container .btn-video{
	background-color: #FFF ;
	color: #000 !important;
}

#buttons-container .btn-micMute{
	background-color: #000 ;
	color: #FFF !important;
	border: 2px solid #FFF;
}

#buttons-container .btn-videoMute{
	background-color: #000 ;
	color: #FFF !important;
	border: 2px solid #FFF;
}


#buttons-container .btn-end{
	background-color: #cc0505 ;
	color: #FFF !important;
}

#buttons-container{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}

.agora-theme {
	position: relative;
}

.colorBlack{
	color:#000 !important;
}

.colorWhite{
	color:#FFF !important;
}

