#page-wrapper {
	margin: 0px !important;
}

	.patient-mobile{
		color: #000;
		font-size: 12px;
	}
	.profile-username {
		font-size: 18px;
	}

	video {
  		width: 100%; height: auto;
  		position: relative;
  		top: 0; left: 0; right: 0; bottom: 0;
  		background: rgba(0,0,0,0.8);
	}

	table tr:nth-child(n+11) {
	  display:none;
	}

.panel-heading {
	padding: 10px 15px !important;
}
.panel-body {
	padding: 5px !important;
}
.panel {
	margin-bottom: 10px !important;
}