.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*@page {
  margin: 0;
}

@media print {
    .pageArea {page-break-inside: avoid;}
    .flex-container > div { background-color: #f1f1f1; }
}*/
.text_left
{
    text-align: left;
}
.text_center{
    text-align: center !important;
}
.text_right
{
    text-align: right;
}
.float_left
{
    float:left;
}
a {
  color: #5D6975;
  text-decoration: underline;
}
body {
  margin:0 auto;
  color-adjust: exact !important;
  -webkit-print-color-adjust: exact !important;
}

.pageArea {
  position: relative;
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  font-size: 12px;
  padding: 10px;
  font-family: "Times New Roman", Georgia, Serif;

}

.pageAreaD {
  position: relative;
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  font-size: 12px;
  padding: 10px;
  font-family: "Times New Roman", Georgia, Serif;
}

header {
  padding: 0;
  margin-bottom: 30px;
}

#logo {
  margin: 0px 0px;
  height: 150px;
  width: 100%;
}

#logo img {
  height: 100%;
  width:100%;
}


#project {
  float: left;
  padding: 10px;
}

#company {
  float: right;
  text-align: right;
  padding: 10px;
}

#project div,
#company div {
  white-space: nowrap; 
line-height:25px;    
}



#project2 {
  float: left;
  margin-bottom:20px;
  padding: 5px;
}

#company2 {
  float: right;
  margin-bottom:20px;  
  padding: 5px;
}

#project2 div,
#company2 div {
	white-space: nowrap; 
	text-align: center; 
}


table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr .subtotal td{
	background:none;
}

.left_column
{
    float: left;
    width: 50%;
}
.right_column
{
    float: right;
    width: 50%;
}
.totalHeading {
	font-weight:bold;
    background: #FFF;
}

table tr.rowcolor td {
  background: #F5F5F5;
}

table tr.row td {
	border-left:1px solid #e6e6e6;
	border-right:1px solid #e6e6e6;
}

table tr.border td {
  border:1px solid #e6e6e6;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 10px 20px;
  background-color: #d9d9d9 !important;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: bold;
  
}

.bold_text {
  font-weight: bold !important;
}

table .service,
table .desc {
  text-align: left;
}

table td {
  padding: 10px;
  text-align: right;
}

table td.service,
table td.desc {
  vertical-align: top;
  text-transform:uppercase;
}

table td.unit,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

footer {
  color: #5D6975;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0px;
  text-align: center;
}

footer h2{
	margin-bottom:20px;
}
main{
  padding:10px;
}

footer img {
  height: 100%;
  width:100%;
}

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
  -webkit-box-pack: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 30px;
  margin: 1px;
  text-align: center;
  line-height: 15px;
  font-size: 15px;
}

@page {
  size: A4;
  margin: 10px 0 0 0;
}

@media print {
  .pageArea {
    margin: 0;
    box-shadow: 0;
  }

  .pageAreaD {
    margin: 0;
    box-shadow: 0;
  }
}

.opthalData table td {
    padding: 3px !important;
}
